@page "/error/{code:int}"
@model Sudokoko.PersonalSite.Pages.Errors.Error

@{
    Layout = "Layouts/PageLayout";
}

<div>
    <h1>
        Ah, you're finally awake.
    </h1>
</div>

<div>
    <p>
        The server encountered a problem and could not complete your request.
    </p>

    <p>
        <small>
            <strong>Request ID:</strong> @Model.HttpContext.TraceIdentifier <br/>
            <strong>Error Code:</strong> @Model.ErrorCode
        </small>
    </p>
</div>

<div>
    <a href="/">Return to Safety</a>
</div>