@page "/error/{code:int}"
@model Sudokoko.PersonalSite.Pages.Errors.Error

@{
    Layout = "Layouts/PageLayout";
}

<div>
    <h1>
        Ah, you're finally awake.
    </h1>
</div>

<div>
    <p class="tb-margin">
        The server encountered a problem and could not complete your request.
    </p>

    <div class="tb-margin">
        <small>
            <div>
                <strong>Request ID:</strong> @Model.HttpContext.TraceIdentifier
            </div>
            <div>
                <strong>Error Code:</strong> @Model.ErrorCode
            </div>
            @if (Model.ErrorMessage != null)
            {
                <div>
                    <strong>Error Message:</strong> @Model.ErrorMessage
                </div>
            }
        </small>
    </div>

    <div class="tb-margin">
        <a href="/">Return to Safety</a>
    </div>
</div>