[Unit]
Description=Personal Site (ASP.NET Web Application)
Documentation=https://github.com/sudokoko/PersonalSite
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=root
WorkingDirectory=/srv/personal/koko
ExecStart=/usr/bin/dotnet run -c Debug --project PersonalSite
Restart=on-failure
RestartSec=5s