@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
    --neutral: #141111;
    --accent: #473647;
    --bg: linear-gradient(-45deg, var(--neutral), var(--accent));
    --text-normal: #c7b5c1;
    --h1-size: 2.3rem;
    --weight-bold: 500;
    --white: #ffffff;
    --pastel-red: #eb8f8f;
    --pastel-orange: #ebae8f;
    --pastel-yellow: #f5e7a9;
    --pastel-green: #a7eda6;
    --pastel-blue: #a6cced;
    --pastel-purple: #aea3e6;
}

header {
    position: fixed;
    padding: 10px;
    width: 100%;
    z-index: 1; /* Stay on top */
}

header .header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .avatar {
    width: var(--h1-size);
    vertical-align: middle;
    border-radius: 50%;
}

header .header-links {
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1em;
}

header .header-links a {
    margin-left: 0.5em;
}

header .header-credits {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 0.75rem;
}

body,
html,
.main-container,
nav {
    width: 100%;
}

body,
html,
.main-container,
nav a {
    height: 100%;
}

body,
html,
h1 {
    margin: 0;
}

body,
html {
    font-family: Ubuntu, sans-serif;
    background: var(--bg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: var(--text-normal);
}

h1 {
    font-size: var(--h1-size);
    font-weight: var(--weight-bold);
}

p {
    margin-top: 0.75rem;
}

nav a {
    padding: 5px 8px;
    transition: ease-in-out 0.125s;
    color: var(--text-normal);
}

a {
    transition: ease-in-out 0.125s;
    color: var(--text-normal);
}

a:hover {
    color: var(--hover-col);
}

b {
    font-weight: 550;
    color: var(--pastel-purple);
}

nav {
    position: sticky;
    background: #573e5155;
    top: 100%;
}

.main-container,
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container,
nav a {
    box-sizing: border-box;
}

nav a:hover {
    background: #573e51bd;
    color: var(--hover-col);
}

ul {
    list-style-type: circle;
}

.main-container {
    position: fixed;
    padding: 5px;
}

.content {
    text-align: left;
    font-size: 1.25rem;
    max-width: 30rem;
}

.activity-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    border: 1px solid var(--accent);
    border-radius: 5px;
}

.activity-image {
    width: 80px;
    height: 80px;
    display: flex;
    padding: 0.5em;
}

.activity-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding: 0.8em;
}

.tb-margin {
    margin: 1em 0;
}

.l-red {
    --hover-col: var(--pastel-red);
}

.l-orange {
    --hover-col: var(--pastel-orange);
}

.l-yellow {
    --hover-col: var(--pastel-yellow);
}

.l-green {
    --hover-col: var(--pastel-green);
}

.l-blue {
    --hover-col: var(--pastel-blue);
}

.l-purple {
    --hover-col: var(--pastel-purple);
}

.purple-txt {
    color: var(--pastel-purple);
}

.trans {
    background: -webkit-linear-gradient(
            180deg,
            #55cdfc 0%,
            #55cdfc 20%,
            #f7a8b8 20%,
            #f7a8b8 40%,
            #ffffff 42%,
            #ffffff 67%,
            #f7a8b8 67%,
            #f7a8b8 80%,
            #55cdfc 85%,
            #55cdfc 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pan {
    background: -webkit-linear-gradient(
            0deg,
            #FF218C 0%,
            #FF218C 33%,
            #FFD800 33%,
            #FFD800 66%,
            #21B1FF 66%,
            #21B1FF 99%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}