@page "/"
@model Sudokoko.PersonalSite.Pages.Home

@{
    Layout = "Layouts/PageLayout";
}

<h1>
    Howdy, <span class="purple-txt">I'm Koko!</span>
</h1>

<div>
    <p>
        I'm a full stack developer, systems administrator, and hobby meteorologist.
    </p>
    <p>
        In my free time, I like to play games, talk to friends, and listen to music. If you need to contact me, I'm
        almost always available via one of the socials below, or <a href="https://alekeagle.com/d">in this server.</a>
    </p>
</div>

@await Html.PartialAsync("Partials/RichPresencePartial", Model.LanyardActivity)