@page "/"
@model Sudokoko.PersonalSite.Pages.Home

@{
    Layout = "Layouts/PageLayout";
}

<h1>
    howdy, <span class="purple-txt">i'm koko!</span>
</h1>

<div>
    <p>
        i'm a <span class="trans">trans</span> and <span class="pan">pan</span>
        software engineer, systems administrator, and hobby meteorologist.
    </p>
    <p>
        in my free time, i like to play games, talk to friends, and listen to
        music. if you need to contact me, i'm almost always available via one
        of the socials listed below, or at my discord - <b>sudokoko</b>.
    </p>
</div>

<div class="activity-container">
    @if (Model.LanyardActivity != null)
    {
        <div class="activity-image">
            <img
                src="https://cdn.discordapp.com/app-assets/@Model.LanyardActivity.ApplicationId/@(Model.LanyardActivity.Assets.LargeImage).png"
                alt="@Model.LanyardActivity.Name"
                style="border-radius: 5px;"/>
        </div>
        <div class="activity-information">
            <div style="font-weight: 600;">
                @Model.LanyardActivity.Name
            </div>
            <div>
                @Model.LanyardActivity.Details
            </div>
            <div>
                @Model.LanyardActivity.State
            </div>
        </div>
    }
    else
    {
        <div class="activity-information">
            I'm not doing anything right now!
        </div>
    }
</div>