@page "/"
@model Sudokoko.PersonalSite.Pages.Home

@{
    Layout = "Layouts/PageLayout";
}

<h1>
    howdy, <span class="purple-txt">i'm koko!</span>
</h1>
<p>
    i'm a <span class="trans">trans</span> and <span class="pan">pan</span>
    software engineer, systems administrator, and hobby meteorologist.
</p>
<p>
    in my free time, i like to play games, talk to friends, and listen to
    music. if you need to contact me, i'm almost always available via one
    of the socials listed below, or at my discord - <b>sudokoko</b>.
</p>
<div>
    some of my notable works:
    <ul>
        <li>
            <a href="https://github.com/LBPUnion/ProjectLighthouse">ProjectLighthouse</a>
        </li>
        <li>
            <a href="https://github.com/LBPUnion/PLRPC">PLRPC</a>
        </li>
        <li>
            <a href="https://webtv.zone">WebTV Redialed</a>
        </li>
    </ul>
</div>