@page "/work"
@model Sudokoko.PersonalSite.Pages.Work

@{
    Layout = "Layouts/PageLayout";
}

<h1>My <span class="purple-txt">Work</span></h1>

<div>
    <p>
        I'm a full stack developer with experience in a variety of languages (primarily C#) and
        frameworks (primarily ASP.NET Core). I'm also a systems administrator with experience
        in Linux and Windows server administration, as well as a hobby meteorologist.
    </p>
    
    <p>
        I've worked on a lot of projects over the years, but here are some of the more notable
        ones that you can find me contributing to most often.
    </p>
    
    <div>
        <ul>
            <li><a href="https://github.com/LBPUnion/ProjectLighthouse">ProjectLighthouse</a></li>
            <ul>
                <li>> 150 stars</li>
                <li>> 50 forks</li>
            </ul>
            <li><a href="https://github.com/LBPUnion/PLRPC">PLRPC</a></li>
            <ul>
                <li>~ 5 stars</li>
                <li>~ 5 forks</li>
            </ul>
        </ul>
    </div>
</div>