@using Sudokoko.PersonalSite.Extensions
@model Sudokoko.PersonalSite.Pages.Layouts.PageLayout

@* ReSharper disable Html.PathError *@

@{
    Model.IsMobile = Model.Request.IsMobile();
}

<!DOCTYPE html>

<html lang="en-US">
<head>
    <title>Koko's Site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Koko's Site">
    <meta name="description" content="I'm a full stack developer, systems administrator, and hobby meteorologist.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://sudokoko.xyz/">
    <meta property="og:title" content="Koko's Site">
    <meta property="og:description" content="I'm a full stack developer, systems administrator, and hobby meteorologist.">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/index.css"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
</head>
<body>
<header>
    <div class="header-container">
        <a href="/">
            <img
                class="avatar"
                src="https://api.lanyard.rest/988640695847890955.webp"
                alt="Discord avatar"/>
        </a>
        <div class="header-links">
            <a href="/">home</a>
            <a href="/portfolio">portfolio</a>
        </div>
        <div class="header-credits">
            site design by <a href="https://janluna.eu.org/">luna</a>
        </div>
    </div>
</header>
<div class="main-container">
    <main class="content @(Model.IsMobile ? "mobile-content" : "")">
        @RenderBody()
    </main>
</div>
<nav>
    @if (Model.IsMobile)
    {
        <a href="https://en.pronouns.page/@@kokointhestars" class="l-red"><i class="fa-solid fa-infinity"></i></a>
        <a href="mailto:koko@sudokoko.xyz" class="l-orange"><i class="fa-solid fa-envelope"></i></a>
        <a href="https://github.com/sudokoko" class="l-yellow"><i class="fa-brands fa-github"></i></a>
        <a href="https://twitter.com/kokofloral" class="l-green"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://youtube.com/@@wxkoko" class="l-blue"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://beacon.lbpunion.com/user/992" class="l-purple"><i class="fa-solid fa-earth-americas"></i></a>
    }
    else
    {
        <a href="https://en.pronouns.page/@@kokointhestars" class="l-red">pronouns.page</a>
        <a href="mailto:koko@sudokoko.xyz" class="l-orange">email</a>
        <a href="https://github.com/sudokoko" class="l-yellow">github</a>
        <a href="https://twitter.com/kokofloral" class="l-green">twitter</a>
        <a href="https://youtube.com/@@wxkoko" class="l-blue">youtube</a>
        <a href="https://beacon.lbpunion.com/user/992" class="l-purple">beacon</a>
    }
</nav>
</body>
</html>