@model Sudokoko.PersonalSite.Pages.Layouts.PageLayout

<!DOCTYPE html>

<html lang="en-US">
<head>
    <title>koko's site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="title" content="koko's site">
    <meta name="description" content="i'm a transgender software engineer, systems administrator, and hobby meteorologist.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://drones.gay/">
    <meta property="og:title" content="koko's site">
    <meta property="og:description" content="i'm a transgender software engineer, systems administrator, and hobby meteorologist.">
    <link rel="stylesheet" href="./index.css"/>
    <link rel="icon" href="./favicon.ico"/>
</head>
<body>
<header>
    <img
        class="avatar"
        src="https://api.lanyard.rest/988640695847890955.webp"
        alt="Discord avatar"/>
</header>
<div class="flex-container">
    <main class="content">
        @RenderBody()
    </main>
</div>
<nav>
    <a href="https://en.pronouns.page/@@kokointhestars" class="l-red">pronouns.page</a>
    <a href="mailto:koko@drones.gay" class="l-orange">email</a>
    <a href="https://github.com/sudokoko" class="l-yellow">github</a>
    <a href="https://twitter.com/kokofloral" class="l-green">twitter</a>
    <a href="https://youtube.com/@@wxkoko" class="l-blue">youtube</a>
    <a href="https://beacon.lbpunion.com/user/992" class="l-purple">beacon</a>
</nav>
</body>
</html>